@model WebAutopark.BusinessLogic.Models.VehicleViewModel

@{
    ViewData["Title"] = "VehicleDelete";
}

<div class="card col-md-7 m-auto">
    <div class="card-header">
        <h3 class="text-center">Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <h4 class="mb-3 text-center">VehicleType</h4>
        <form asp-action="VehicleDelete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ModelName" class="control-label ml-md-1"></label>
                <input asp-for="ModelName" class="form-control" readonly/>
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeId" class="control-label ml-md-1"></label>
                <input asp-for="VehicleTypeId" class="form-control" readonly/>
                <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label ml-md-1"></label>
                <input asp-for="RegistrationNumber" class="form-control" readonly/>
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureYear" class="control-label ml-md-1"></label>
                <input asp-for="ManufactureYear" class="form-control" readonly/>
                <span asp-validation-for="ManufactureYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label ml-md-1"></label>
                <input asp-for="Weight" class="form-control" readonly/>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label ml-md-1"></label>
                <input asp-for="Mileage" class="form-control" readonly/>
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label ml-md-1"></label>
                <input asp-for="Color" class="form-control" readonly/>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineConsumption" class="control-label ml-md-1"></label>
                <input asp-for="EngineConsumption" class="form-control" readonly/>
                <span asp-validation-for="EngineConsumption" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </div>
        </form>

    </div>
</div>

<div class="text-center mt-3">
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>