@model WebAutopark.BusinessLogic.Models.OrderViewModel

@{
    ViewData["Title"] = "OrderInfo";
}

<div class="card col-md-7 m-auto">
    <div class="card-header">
        <h2 class="text-center">Order</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="VehicleId" class="control-label ml-md-1"></label>
            <input asp-for="VehicleId" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="OrderId" class="control-label ml-md-1"></label>
            <input asp-for="OrderId" class="form-control" readonly />
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
