@model WebAutopark.BusinessLogic.Models.VehicleTypeViewModel

@{
    ViewData["Title"] = "VehicleTypeDelete";
}

<div class="card col-md-7 m-auto">
    <div class="card-header">
        <h3 class="text-center">Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <h4 class="mb-3 text-center">VehicleType</h4>
        <form asp-action="VehicleTypeDelete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label ml-md-1"></label>
                <input asp-for="TypeName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="TaxCoefficient" class="control-label ml-md-1"></label>
                <input asp-for="TaxCoefficient" class="form-control" readonly/>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </div>
        </form>

    </div>
</div>

<div class="text-center mt-3">
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>