@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-5">Welcome to Web version of Autopark</h2>
</div>
<div>Technologies that I used:</div>
<ul>
    <li>ASP.NET Core 3, .NET 5, Dapper</li>
    <li>CSS3(Bootstrap-4), HTML5</li>
</ul>