@model WebAutopark.Core.Entities.Detail

@{
    ViewData["Title"] = "DetailDelete";
}

<div class="card col-md-7 m-auto">
    <div class="card-header">
        <h2 class="text-center">Are you sure you want to delete this?</h2>
    </div>
    <div class="card-body">
        <h4 class="mb-3 text-center">Detail</h4>
        <form asp-action="Delete" class="text-center align-content-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
            </div>
            <div class="form-group">
              <input type="submit" value="Delete" class="btn btn-danger"/>
          </div>
        </form>
            
    </div>
</div>

<div class="text-center m-5">
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>