@model WebAutopark.BusinessLogic.Models.DetailViewModel
@{
    ViewData["Title"] = "DetailCreate";
}
<div class="card col-md-7 m-auto">
    <div class="card-header">
        <h2 class="mb-2 text-center">Create Detail</h2>
    </div>
    <div class="card-body">
        <form asp-action="DetailCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label ml-md-1"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}