@model WebAutopark.Core.Entities.Detail
@{
    ViewData["Title"] = "DetailUpdate";
}

<div class="card col-md-7 m-auto">
    <div class="card-header">
        <h2 class="text-center">Update Detail</h2>
    </div>
    <div class="card-body">
        <form asp-action="Update" class="text-center align-content-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="DetailId" hidden="hidden"/>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-outline-success"/>
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}